.notification-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  pointer-events: none;
}
.notification-modal {
  background: white;
  color: black;
  border-radius: 5px;
  height: 100px;
  padding: 5px;
  width: 300px;
  text-align: center;
}
.notification-modal-btn-container {
  text-align: end;
}
.notification-modal-btn {
  pointer-events: initial;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  font-size: 35px;
  cursor: pointer;
}
.notification-modal span {
  line-height: 1.5;
  font-size: 20px;
  padding: 30px;
}
.disabled {
  pointer-events: none;
  user-select: none;
}
