img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.square__available {
  position: relative;
}
.square__available::after {
  content: "\2219";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  /* color: hsl(120, 73.4%, 44.9%); */
  color: blue;
  font-size: 45px;
  font-weight: 700;
  pointer-events: none;
  cursor: pointer;
}

.square__available:hover {
  border: 2px solid hsl(60, 100%, 50%);
}

.square__selected {
  background: linear-gradient(to right, rgb(24, 74, 3) 2px, transparent 2px) 0 0,
    linear-gradient(to right, rgb(24, 74, 3) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, rgb(24, 74, 3) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, rgb(24, 74, 3) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, rgb(24, 74, 3) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, rgb(24, 74, 3) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, rgb(24, 74, 3) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, rgb(24, 74, 3) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 10px 10px;
}
